<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<style type="text/css">
		.history_total_table th,.history_total_table td{min-width: auto;}
		.history_total_table td{padding-left: 3px;padding-right: 3px;}
		.group_class th{font-size: 14px;}
		.blue{background-color: #087ec3;color: white;}
		.blue2{background-color: #92ebff;}
		.yellow{background-color: #B3B34D;color: white;}
		.pink{background-color: #FCC39D;color: black;}
		
		.bg-td{text-align: left; display: flex;}
			.bg-td>span{flex:1;text-align: center;}
			.data_col2 td {padding:9px 15px;}
		</style>
		
	</head>
	<body>
		<!--後臺表-->
		<section class="backstage_wrap">
			<div class="backstage_box">
				<h2>小板列表</h2>
				<!--數據表-->
				<div class="clearfix history_total_table" style="overflow-x: scroll;">
					
					<!--第壹組-->
					<table  border="1" style="">
					<tr class="data_col" id="head_group">
						<td class="focus_row"></td>
						<td>1 </td>
						<td>2</td>
						<td>3 </td>
						<td>4 </td>
						<td>5 </td>
						<td>6 </td>
						<td>7 </td>
						<td>8 </td>
						<td>9 </td>
						<td>10 </td>
						<td>匯總報告</td><!--
						<td>匯總求和</td>
						<td>合并報告</td>
						<td>合并求和</td>
						<td>選擇報告</td>
						<td>選擇求和</td>
						<td>結果報告</td>-->
						<td>小板報告</td>
						<td>小板匯總</td><td>板塊報告</td>
						<td>板塊匯總</td>
						<td class="focus_row"></td>
					</tr>
					<tbody id="tb_group">
						<tr class="data_col ">
							  		<td rowspan="3"> <span class="" >--</span></td>
							    	<td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td>
							    	<td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td>
							    	<td> <span class="red"></span></td><td> <span class="red"></span></td><td> <span class="red"></span></td>
							    	<td rowspan="3"> <span class="" >--</span></td>
							  	</tr>
							  <tr class="data_col ">
							  		<td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td>
							    	<td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td>
							    	<td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td>
							  	</tr>
							  	 <tr class="data_col ">
							  		<td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td>
							    	<td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td>
							    	<td><span class="red"></span></td><td><span class="red"></span></td><td><span class="red"></span></td>
							  	</tr>
							  	
								<tr>
							  		<td>結果</td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td>結果</td>
							  	</tr>
							  	<tr>
							  		<td>求和</td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td>求和</td>
							  	</tr>
							  	<tr>
							  		<td>共計</td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td class="blue2"></td><td class="blue2"></td><td class="blue2"></td>
							    	<td>共計</td>
							  	</tr>
							  	</tbody>
						
					</table>
					
				</div>
			</div>
			
		</section>
		
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.min.js" ></script>
	<script type="text/javascript" src="../js/template-web.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../layui/layui.all.js"></script>
	<script type="text/javascript" src="js/gameCore.js"></script>
	
		<script type="text/javascript" src="../js/tableExport.min.js"></script>
	<script type="text/javascript" src="../js/jquery.base64.js"></script>
	
	<script type="text/javascript" src="js/turn-core.js"></script>
	
	<script type="text/javascript">
	
	$(function(){
		
		$app.request("../currentTg.do",function(json){
			
			var data = json.map.data;
			initData(data);
			ref(data);
			
		},{param:{}});
		
		
	});
	
	
	function initData(data){
		data.bigTurn.user_lock = data[0].turn.user_lock.split(',');
		data.bigTurn.xzbg_lock =  data[0].turn.xzbg_lock.split(',');
		data.bigTurn.hbbg_lock =  data[0].turn.hbbg_lock.split(',');
		data.bigTurn.xzbg_config = data[0].turn.xzbg_config.split(',');
		data.bigTurn.hbbg_config = data[0].turn.hbbg_config.split(',');
		
		data.bigTurn.bigTurnConfig = eval("("+data.bigTurn.config_json+")");
		data.bigTurn.config_json = eval("("+data[0].turn.config_json+")")
		data.bigTurn.tip_open = data[0].tip_open;
		data.bigTurn.queue_count = 0;
		for (var i = 0; i < data.bigTurn.bigTurnConfig.turnNum; i++) {
			data.bigTurn.queue_count+=data[i].turn.queue_count;
		}

        /*for (var i = 0; i < data.turnGroups.length; i++) {
            var item = data.turnGroups[i];
            item.data = eval("("+item.data+")")
            item.xbbg = eval("("+item.xbbg+")")
            item.position = item.position.split('_')
        }*/
		
	} 
	
	
	function ref(data){

		var frow = data.bigTurn.frow;
		data.bigTurn.mod = 1;
		$(".focus_row").html(frow-2);
		
		var vDatas = [];
		
		for (var i = 0; i < data.bigTurn.bigTurnConfig.turnNum; i++) {
			var vData = null;
			if(frow>=4){
                var vData = initViewData(data[i]);
			}else{
                vData = getDefVdata(data[i].turn);

			}
			vDatas.push(vData);
		}

		var turnGroupPosition = {};
        for (var i = 0; i < data.turnGroups.length; i++) {
            var item = data.turnGroups[i];
            var group = item.data
            var vData = [];
            for (let j = 0; j < group.length; j++) {
                var v = getBgA(group[j]);
                vData.push(v);
            }
            item.vData = vData;
            item.xbbg = getBgA(item.xbbg);
            turnGroupPosition[new Number(item.position[1])-1] = item;
        }

        console.log(vDatas)
		var cols = ['hb',/*'qhBg','hbBg','hbqh','xzBg','xzqh','jgbg',*/];
        var cols2 = ['xbbg','bkbg','bkzd','bkhz']
            $("#tb_group").html(template("tb_tl",{vDatas:vDatas
			,turnGroupPosition:turnGroupPosition
			,turnGroups:data.turnGroups
				,hu:[1,1]
				,cols:cols
                ,cols2:cols2}))
		

		
	}
	
	</script>
	
	<script type="text/html" id="tb_tl">

{{each vDatas as vData j}}
						<tr class="data_col2 ">
							  		<td rowspan="3"> <span class="" >{{j+1}}</span></td>
							{{each vData.turn.user_lock as val i}}
							    	<td>{{if vData.bgData[i+1]}}
											<div class="bg-td">{{vData.bgData[i+1][0].name}} <span {{if vData.bgData[i+1][0].val>0}}class="red"{{/if}}>{{if vData.bgData[i+1][0].name}}{{vData.bgData[i+1][0].val}}{{/if}}</span></div>
										{{/if}}
									</td>
							{{/each}}


							{{each cols as col i}}
								<td> <div class="bg-td">{{vData.bgData[col][0].name}}<span {{if vData.bgData[col][0].val>0}}class="red"{{/if}}>{{if vData.bgData[col][0].name}}{{vData.bgData[col][0].val}}{{/if}}</span></div></td>
							{{/each}}

							{{each cols2 as col2 i}}
							<td> <div class="bg-td">{{vData.bgData[col2][0].name}}<span {{if vData.bgData[col2][0].val>0}}class="red"{{/if}}>{{if vData.bgData[col2][0].name}}{{vData.bgData[col2][0].val}}{{/if}}</span></div></td>
							{{/each}}
							    	<td rowspan="3"> <span class="" >{{j+1}}</span></td>

						</tr>
							  <tr class="data_col2 ">
							  	{{each vData.turn.user_lock as val i}}
							    	<td>{{if vData.bgData[i+1]}}
										<div class="bg-td">{{vData.bgData[i+1][1].name}} <span {{if vData.bgData[i+1][1].val>0}}class="red"{{/if}}>{{if vData.bgData[i+1][1].name}}{{vData.bgData[i+1][1].val}}{{/if}}</span></div>
									{{/if}}</td>
							{{/each}}

							{{each cols as col i}}
								  <td> <div class="bg-td">{{vData.bgData[col][1].name}}<span {{if vData.bgData[col][1].val>0}}class="red"{{/if}}>{{if vData.bgData[col][1].name}}{{vData.bgData[col][1].val}}{{/if}}</span></div></td>
							{{/each}}

							{{each cols2 as col2 i}}
								  <td> <div class="bg-td">{{vData.bgData[col2][1].name}}<span {{if vData.bgData[col2][1].val>0}}class="red"{{/if}}>{{if vData.bgData[col2][1].name}}{{vData.bgData[col2][1].val}}{{/if}}</span></div></td>
							{{/each}}
						</tr>
						<tr class="data_col2 ">
							  		{{each vData.turn.user_lock as val i}}
										<td class=""><div class="bg-td">共 <span >{{if vData.bgData[i+1]}}{{vData.bgData[i+1][2]}}{{/if}}</span></div></td>
									{{/each}}

							{{each cols as col i}}
							<td class=""><div class="bg-td">共 <span >{{vData.bgData[col][2]}}</span></div></td>
							{{/each}}
							{{each cols2 as col2 i}}
							<td class=""><div class="bg-td">共 <span >{{vData.bgData[col2][2]}}</span></div></td>
							{{/each}}

						</tr>
							  	
								<!-- j结果部分 -->

						<tr>
							  	<td>結果</td>
									{{each vData.turn.user_lock as val j}}
										{{if vData.jgData[j+1]}}
							    		<td class="blue2{{if vData.jgData[j+1].jg>0}} red{{/if}}">{{vData.jgData[j+1].jg}}</td>{{else}}<td  class="blue2"></td>{{/if}}	
									{{/each}}

							{{each cols as col i}}
							<td class="blue2 {{if vData.jgData[col].jg>0}}red{{/if}}">{{vData.jgData[col].jg}}</td>
							{{/each}}
							{{each cols2 as col2 i}}
							<td class="blue2 "></td>
							{{/each}}

									<td>結果</td>
						</tr>
						<tr>
							  		<td>求和</td>
									{{each vData.turn.user_lock as val j}}
										{{if vData.jgData[j+1]}}<td class="blue2 {{if vData.jgData[j+1].qh>0}}red{{/if}}">{{vData.jgData[j+1].qh}}</td>{{else}}<td class="blue2"></td>{{/if}}
							    	
									{{/each}}

							{{each cols as col i}}
								<td class="blue2 {{if vData.jgData[col].qh>0}}red{{/if}}">{{vData.jgData[col].qh}}</td>
							{{/each}}
							{{each cols2 as col2 i}}
								<td class="blue2" ></td>
							{{/each}}

									<td>求和</td>
						</tr>

						<tr style="height:40px;border-bottom:5px solid">
							  		<td>共計</td>
									{{each vData.turn.user_lock as val j}}
										{{if vData.bgData[j+1]}}<td class="blue2">{{vData.bgData[j+1][3]}}</td>{{else}}<td class="blue2"></td>{{/if}}
									{{/each}}
							{{each cols as col i}}
							<td class="blue2">{{vData.bgData[col][3]}}</td>
							{{/each}}
							{{each cols2 as col2 i}}
							<td class="blue2"></td>
							{{/each}}

							    	<td>共計</td>
						</tr>

	{{if turnGroupPosition[j]}}

		<tr class="data_col2 ">
			<td rowspan="2" class="pink"> <span class="" > 小板匯總 </span></td>
			{{each turnGroupPosition[j].vData as val i}}
				<td class="pink">{{if turnGroupPosition[j].vData[i]}}
					<div class="bg-td">{{turnGroupPosition[j].vData[i][0].name}} <span {{if turnGroupPosition[j].vData[i][0].val>0}}class="red"{{/if}}>{{if turnGroupPosition[j].vData[i][0].name}}{{turnGroupPosition[j].vData[i][0].val}}{{/if}}</span></div>
					{{/if}}
				</td>
			{{/each}}

			<td class="pink">{{if turnGroupPosition[j].xbbg}}
				<div class="bg-td">{{turnGroupPosition[j].xbbg[0].name}} <span {{if turnGroupPosition[j].xbbg[0].val>0}}class="red"{{/if}}>{{if turnGroupPosition[j].xbbg[0].name}}{{turnGroupPosition[j].xbbg[0].val}}{{/if}}</span></div>
				{{/if}}
			</td>
			<td rowspan="2" class="pink"> <span class="" >小板匯總</span></td>

		</tr>
		<tr class="data_col2 ">
			{{each turnGroupPosition[j].vData as val i}}
			<td class="pink">{{if turnGroupPosition[j].vData[i]}}
				<div class="bg-td">{{turnGroupPosition[j].vData[i][1].name}} <span {{if turnGroupPosition[j].vData[i][1].val>0}}class="red"{{/if}}>{{if turnGroupPosition[j].vData[i][1].name}}{{turnGroupPosition[j].vData[i][1].val}}{{/if}}</span></div>
				{{/if}}
			</td>
			{{/each}}

			<td class="pink">{{if turnGroupPosition[j].xbbg}}
				<div class="bg-td">{{turnGroupPosition[j].xbbg[1].name}} <span {{if turnGroupPosition[j].xbbg[1].val>0}}class="red"{{/if}}>{{if turnGroupPosition[j].xbbg[1].name}}{{turnGroupPosition[j].xbbg[1].val}}{{/if}}</span></div>
				{{/if}}
			</td>
		</tr>

	{{/if}}



{{/each}}
</script>
</html>
