<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.djt.dao.ISupAdminMapper">
	<!-- 管理員數據，不包括密碼 -->
	<resultMap type="s_userData" id="admin_data_full">
		<id column="d_su_id" property="u_id"/>
		<result property="u_name" column="d_su_name"/>
		<association property="atb" javaType="admintime">
			<id property="t_id" column="t_id"/>
			<result property="t_admin_id" column="t_admin_id"/>
			<result property="t_val" column="t_val"/>
			<result property="t_c_val" column="t_c_val"/>
			<result property="t_isclock" column="t_isclock"/>
		</association>
	</resultMap>
	<!-- 管理員數據，包括密碼 -->
	<resultMap type="s_userData" id="admin_data_all">
		<id column="d_su_id" property="u_id"/>
		<result property="u_name" column="d_su_name"/>
		<result property="u_password" column="d_su_password"/>
		<association property="atb" javaType="admintime">
			<id property="t_id" column="t_id"/>
			<result property="t_admin_id" column="t_admin_id"/>
			<result property="t_val" column="t_val"/>
			<result property="t_c_val" column="t_c_val"/>
			<result property="t_isclock" column="t_isclock"/>
		</association>
	</resultMap>
	<!-- 管理數據，不包括密碼 --> 
	<sql id="all_admin_data">
		ud.d_su_id,ud.d_su_name,
		ac.t_id,ac.t_admin_id,ac.t_val,ac.t_c_val,ac.t_isclock
	</sql>
	<!-- 管理數據，包括密碼 -->
	<sql id="all_data_pas">
		ud.d_su_password,<include refid="all_admin_data"/>
	</sql>
	<!-- 查詢管理集 -->
	<select id="getadmin" resultMap="admin_data_full">
		select 
		<include refid="all_admin_data"/>
		from djt_s_user_data ud right join time_amid_count ac on ud.d_su_id = 
		ac.t_admin_id
		order by ud.d_su_id desc
	</select>
	<!-- 根據id查詢管理員信息 -->
	<select id="getadminById" resultMap="admin_data_all">
		select 
		<include refid="all_data_pas"/>
		from djt_s_user_data ud right join time_amid_count ac on ud.d_su_id = 
		ac.t_admin_id where ud.d_su_id = #{adId}
	</select>
	<!-- 添加管理 -->
	<insert id="insertAdmin" parameterType="s_userData" useGeneratedKeys="true" keyProperty="dSuId">
		<!-- <selectKey keyProperty="u_id"  resultType="java.lang.Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
		insert into djt_s_user_data(d_su_name,d_su_password) values(#{u_name},#{u_password})
	</insert>
	<!-- 添加管理的時間狀態 -->
	<insert id="insertAdminTime" parameterType="s_userData">
		insert into time_amid_count(t_admin_id,t_val,t_c_val,t_isclock) 
		values(#{u_id}
		<if test="atb != null ">
			,#{atb.t_val},#{atb.t_c_val},#{atb.t_isclock}
		</if>
		<if test="atb == null">
			,0,0,2
		</if>
		)
	</insert>
	<!-- 給管理員添加管理時間 -->
	<update id="addTime">
		update time_amid_count set t_val=#{time} where t_admin_id=#{adId}
	</update>
	<!-- void updateAdminPsw(@Param("adnum")Integer ad_num, @Param("newpsw")String new_psw); -->
	<update id="updateAdminPsw">
		update djt_s_user_data set d_su_password=#{newpsw} where d_su_id=${adnum}
	</update>
</mapper>