<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.djt.dao.UpdateDBMapper">
	<resultMap type="database" id="All_Data">
		<id property="d_id" column="row"/>
		<result property="d_data" column="sheng"/>
	</resultMap>
	<resultMap type="dutable" id="All_table">
		<id property="dTableId" column="d_table_id"/>
		<result property="dUseDefault" column="d_use_default"/>
	</resultMap>
	<sql id="all_data_base">
		d_id, d_data
	</sql>
	<!-- 查詢所有表的結果集 -->
	<select id="getableDB" resultMap="All_table">
		select * from djt_use_table
	</select>
	<!-- 查询某張表的所有结果集 -->
	
	<!-- 
		 select a.*,
 (select count(*) from djt_data_base where d_id<=a.d_id) as rownum
from djt_data_base a where a.d_tabl_num=10;
	 -->
	<select id="selectAllDB" resultMap="All_Data">
		select sheng,row from data_base 
		where 
			<if test="tableNum != null and '' !=tableNum">
				tabl_num=#{tableNum}
			</if>
			<if test="tableNum == null or '' == tableNum">
				tabl_num=1
			</if>
		order by row
	</select>
	
	<!-- 按页码查询相应的数据 -->
	<select id="selectDById" parameterType="Integer" resultMap="All_Data">
		select 
		<include refid="all_data_base"/>
		from djt_data_base
		where d_id = #{pageNum}
	</select>
	
	<!-- 獲取數據總數量 -->
	<select id="getDataCount" resultType="Integer">
		select count(1) 
		from djt_data_base
	</select>
	<!-- 保存/修改新数据 -->
	<update id="saveData" parameterType="database">
		update djt_data_base set d_data=#{d_data} where d_rownum=#{d_id} and d_tabl_num=#{d_tabl_num}
	</update>
	
	
	<update id="update" >
	 	<foreach collection="list"  item="rdata" >
            update data_base set sheng=#{rdata.sheng} where `row`=#{rdata.row} and tabl_num=#{tableNum};
        </foreach>
		
	</update>

</mapper>